@import url(https://fonts.googleapis.com/css?family=PT+Serif);

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
	width: 100%;
	font-family: 'PT Serif', serif;
  text-align: center;
  color: white;
  font-size: 30px;
}

h1 {
  font-size: 50px;
}

ul {
  display: inline-block;
  text-align:left;
}
ul li {
}
.top {
  width: 100%;
  background-color: rgb(115, 139, 215);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;	
}

.computers {
  height: 80%;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(177, 94, 198);
}

.driving {
  height: 20%;
  width: 100%;
  padding: 30px;
  background-color: rgb(78, 199, 90);
}

.household {
  height: 50%;
  width: 100%;
  padding: 30px;
  background-color: rgb(218, 227, 53);
}
